## Comparison Operators
- How Python values relate
- Result in a boolean

### Numeric Calculations:

In [1]:
2 < 3

True

In [2]:
2==3

False

In [3]:
2 <= 3

True

### Other Comparisons:

In [4]:
"rahul"< "rohan"

True

In [5]:
20 < "rohan"

TypeError: '<' not supported between instances of 'int' and 'str'

![comparators](Images/comparators.png)

In [6]:
#TODO
# Create arrays
import numpy as np
my_house = np.array([18.0, 20.0, 10.75, 9.50])
your_house = np.array([14.0, 24.0, 14.25, 9.0])

# my_house greater than or equal to 18
print()

# my_house less than your_house
print()

## Boolean Operators
- and
- or
- not

### and

In [7]:
True and True

True

In [8]:
True and False

False

In [9]:
x = 12
x>5 and x<15

True

### or

In [10]:
True or False

True

In [11]:
False or False

False

In [12]:
y = 5
y < 7 or y > 13

True

### not

In [13]:
not True

False

In [14]:
not False

True

In [15]:
x = 8
y = 9
not(not(x < 3) and not(y > 14 or y > 10))

False

'not' has a higher priority than 'and' and 'or',it is executed first.

## Boolean operators with Numpy

Before, the operational operators like < and >= worked with Numpy arrays out of the box. Unfortunately, this is not true for the boolean operators and, or, and not.

To use these operators with Numpy, you will need np.logical_and(), np.logical_or() and np.logical_not().

In [16]:
# Create arrays
import numpy as np
my_house = np.array([18.0, 20.0, 10.75, 9.50])
your_house = np.array([14.0, 24.0, 14.25, 9.0])

In [17]:
print(my_house>18.5 or my_house<10)

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [18]:
# my_house greater than 18.5 or smaller than 10
print(np.logical_or(my_house>18.5,my_house<10))

# Both my_house and your_house smaller than 11
print(np.logical_and(my_house<11,your_house<11))

[False  True False  True]
[False False False  True]

# Conditional Statements
if, elif, else

## if 
if condition:

    expression

In [19]:
z = 4
if z%2 ==0:
    print("z is even") #indentation is important

z is even

## else
if condition:
    
    expression
else:            
    
    expression

In [20]:
z = 5
if z%2 ==0:
    print("z is even")
else:                    #don't need to specify condition
    print("z is odd")

z is odd

## elif
if condition:
    
    expression
elif condition:
    
    expression
else:            
    
    expression

In [21]:
z = 5
if z%2 == 0:
    print("z is divisible by 2")
elif z%3 == 0:
    print("z is divisible by 3")
else:                    #don't need to specify condition
    print("z is neither divisible by 2 nor by 3")

z is neither divisible by 2 nor by 3

In [22]:
#TODO
#What will z=6 print?

# Loops

## While loop
- Python goes over the if statement only once
- While loop = repeated if statement
- while condition:
                expression

In [23]:
x = 1
while x < 4 :
    print(x)
    x = x + 1

1
2
3

In [24]:
#TODO
# Print multiples of 3 in reverse order, starting from 30

## For loop
for var in seq:

        expression
        
" for each variable in sequence, execute expression"

In [25]:
fam_heights = [1.73, 1.68, 1.71, 1.89]
for height in fam_heights:
    print(height)

1.73
1.68
1.71
1.89

In [26]:
What if we want access to index as well?

Object `well` not found.

In [ ]:
What if we want access to index as well

What if we want access to index as well?

## Enumerate

In [27]:
for index,height in enumerate(fam_heights):
    print("index " + str(index) + " : " + str(height) )

index 0 : 1.73
index 1 : 1.68
index 2 : 1.71
index 3 : 1.89

### Loop over String

In [28]:
for c in "family":
    print(c.capitalize())

F
A
M
I
L
Y

In [29]:
#TODO
#Make the count of index start from 1

## Looping over Dictionary

In [30]:
world = { "afghanistan":30.55, 
          "albania":2.77,
          "algeria":39.21 }

for key, value in world.items() :
    print(key + " -- " + str(value))

afghanistan -- 30.55
albania -- 2.77
algeria -- 39.21

In [31]:
#Write a for loop that goes through each key:value pair of europe. On each iteration, "the capital of x is y" should be printed out, where x is the key and y is the value of the pair.

# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'austria':'vienna' }

# Iterate over europe