# Python

- Started off as a hobby project by Guido van Rossum 
- Soon became a general purpose programming language
- Open sourced, free!
- Versions: 
    1. Python 2.7 - Discontinued from 2020.
    2. Python 3.x - Currently used
       
       To install: https://python.org/downloads/  
- A few applications:
    1. You want to do some quick calculations.
    2. For your new business, you want to develop a database-driven website.
    3. Your boss asks you to clean and analyze the results of the latest satisfaction survey.

### Use Python as a calculator - Interactive Python (iPython)

In [1]:
4 + 5  # No need of print statement

9

### Python Script
- Text files - .py
- List of python commands
- Need to use print inside scripts

In [2]:
4**2 #Exponentiation

16

In [3]:
18%7 #Modulo

4

## Variables
- Specific, case-sensitive name

In [4]:
a = 4
type(a)

int

In [5]:
b = 2.5
type(b)

float

In [6]:
text = 'hello'
type(text)

str

In [7]:
boolvar = True
type(boolvar)

bool

### Different variables = Different behaviour

In [8]:
2+3

5

In [9]:
'ab' + 'cd' #concatenation

'abcd'

### Type Conversion

In [10]:
#cannot simply sum strings and integers/floats
#str() to convert a value into a string
print("India's population is " + str(134) + " crores.")

India's population is 134 crores.

## EXERCISE
### Which one of these will throw an error? 
1. "I can add integers, like " + str(5) + " to strings."
2. "I said " + ("Hey " * 2) + "Hey!"
3. "The correct answer to this multiple choice exercise is answer number " + 2
4. True + False

## Lists
- Collection of values
- Any data type
- Can be a combination of different types

In [11]:
a = "oranges"
b = "cherries"
my_list = ["apples", "bananas", "melon", a, b]
my_list

['apples', 'bananas', 'melon', 'oranges', 'cherries']

In [12]:
my_list2 = [["apples",5],["bananas", 3], [a, 1], [b,10]]
my_list2

[['apples', 5], ['bananas', 3], ['oranges', 1], ['cherries', 10]]

In [13]:
my_list[1]

'bananas'

In [14]:
my_list[-1]

'cherries'

In [15]:
my_list[-4]

'bananas'

In [16]:
my_list2[-1][1]

10

### List Slicing

In [17]:
my_list[2:5] #start index: inclusive, end index: exclusive

['melon', 'oranges', 'cherries']

In [18]:
my_list[:3]

['apples', 'bananas', 'melon']

In [19]:
my_list[1:]

['bananas', 'melon', 'oranges', 'cherries']

### Changing list elements

In [20]:
my_list[2] = "grapes"
my_list

['apples', 'bananas', 'grapes', 'oranges', 'cherries']

In [21]:
my_list[3:] = ["papaya", "guava"]
my_list

['apples', 'bananas', 'grapes', 'papaya', 'guava']

### Adding and removing elements

In [22]:
x = [1,2,3]+[4,5,6]
x

[1, 2, 3, 4, 5, 6]

In [23]:
del(x[2])
x

[1, 2, 4, 5, 6]

In [24]:
y = x
y[0] = 0
y

[0, 2, 4, 5, 6]

In [25]:
x

[0, 2, 4, 5, 6]

In [26]:
y = list(x)
y = x[:]

In [27]:
y[1]= 8
x

[0, 2, 4, 5, 6]

## Functions

In [28]:
max(x)

6

In [29]:
len(x)

5

In [30]:
round(1.68,1)

1.7

In [31]:
round(1.68)

2

In [32]:
sorted(x, reverse=True)

[6, 5, 4, 2, 0]

## Methods
- In Python, everything = object
- Objects have methods associated, depending on type

In [33]:
x.index(2)

1

In [34]:
x.count(1)

0

In [35]:
word = 'abcdef'
word.capitalize()

'Abcdef'

In [36]:
word.replace("c", "xy")

'abxydef'

In [1]:
my_list.append("chiku")
my_list

NameError: name 'my_list' is not defined

## Dictionaries

![disadvantage of list](Images/disadv_list.png)

### Creating a Dictionary:
    
my_dict = {

   "key1":"value1",
   
   "key2":"value2",
   
}

![dictionary](Images/dict.png)

In [ ]:
# TODO
# Definition of countries and capital
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']

# Get index of 'germany': ind_ger
ind_ger = 

# Use ind_ger to print out capital of Germany
print()

In [ ]:
# TODO
# From string in countries and capitals, create dictionary europe
europe = 

# Print europe
print()

In [4]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

# Print out the keys in europe
print(europe.keys())

# Print out value that belongs to key 'norway'
print(europe['norway'])

dict_keys(['spain', 'france', 'germany', 'norway'])
oslo

- Keys in a dictionary should be unique
- Keys have to be immutable objects

### Adding items to Dictionary

In [5]:
europe['italy'] = 'rome'
europe

{'spain': 'madrid',
 'france': 'paris',
 'germany': 'berlin',
 'norway': 'oslo',
 'italy': 'rome'}

In [7]:
'italy' in europe

True

### Updating items in Dictionary

In [9]:
europe['italy'] = 'Rome'
europe

{'spain': 'madrid',
 'france': 'paris',
 'germany': 'berlin',
 'norway': 'oslo',
 'italy': 'Rome'}

### Deleting items from Dictionary

In [10]:
del(europe['italy'])
europe

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo'}

### List vs Dictionary
![listvsdict](Images/listvsdict.png)

#### Dictionaries can contain key:value pairs where the values are again dictionaries.

In [11]:
# Dictionary of dictionaries
europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }


# Print out the capital of France
print(europe['spain']['population']) #chain of brackets

# Create sub-dictionary data
data={'capital':'rome', 'population':59.83}

# Add data to europe under key 'italy'
europe['italy']=data

# Print europe
print(europe)

46.77
{'spain': {'capital': 'madrid', 'population': 46.77}, 'france': {'capital': 'paris', 'population': 66.03}, 'germany': {'capital': 'berlin', 'population': 80.62}, 'norway': {'capital': 'oslo', 'population': 5.084}, 'italy': {'capital': 'rome', 'population': 59.83}}